<template>
  <div class="app">
    <div class="imageWrapper">
      <div class="image image_electron" />
      <div class="image image_vue" />
      <div class="image image_webpack" />
    </div>
    <div class="caption">
      <div class="caption__word caption__word_electron">Electron</div>
      <div class="caption__word caption__word_vue">Vue</div>
      <div class="caption__word caption__word_webpack">Webpack</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',

  data() {
    return {
      message: '1.0.0'
    }
  }
}
</script>

<style lang="scss" scoped>
  .app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
  }

  .imageWrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image_electron {
    width: 200px;
    height: 200px;
    background-image: url('../assets/images/electron.png');
  }

  .image_vue {
    width: 200px;
    height: 200px;
    background-image: url('../assets/images/vue.png');
  }

  .image_webpack {
    width: 200px;
    height: 200px;
    background-size: 178px 200px;
    background-image: url('../assets/images/webpack.png');
  }

  .caption {
    font-family: 'Open Sans';
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    display: flex;
  }

  .caption__word {
    width: 200px;
    text-align: center;
  }

  .caption__word_electron {
    color: $electron-light;
  }

  .caption__word_vue {
    color: $vue-light;
  }

  .caption__word_webpack {
    color: $webpack-light;
  }
</style>
